<div class="row p-4 m-4">
    <div class="col-12 text-center">
        <h2>The Travel Offers</h2>
        <h3>On this page you can see all of our travel offers and create new ones yourself.</h3>
    </div>
</div>
<div class="container">
    <div class="row p-5 rounded-lg" id="addoffers">
        <div class="col-lg-4 offset-1 text-white py-5">
            <h2>Create a new Travel Destination and Offer</h2>
            <h3 class="py-2">Please use the form to create a new travel destination and offer. The new offer will be added to the list below.</h3>
            <h3 class="py-2">Kindly note that if you want to assign an image path, use this prepared image path <strong>assets/img/travel07.jpg</strong> with a number from 07 to 12.</h3>
        </div>
        <div class="col-lg-6 offset-1">
            <div class="jumbotron rounded-lg bg-dark text-white">
                <h3>Create a new Travel Offer</h3>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="destinationName">Destination Name</label>
                        <input type="text" class="form-control" id="destinationName">
                    </div>
                    <div class="form-group">
                        <label for="destinationPrice">Price</label>
                        <input type="number" class="form-control" id="destinationPrice">
                    </div>
                    <div class="form-group">
                        <label for="destinationDescription">Description</label>
                        <input type="text" class="form-control" id="destinationDescription">
                    </div>
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input type="text" class="form-control" id="imagePath">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Create new offer</button>
                </form>
            </div>
        </div>
    </div>
</div>